<div class="main-content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="card card-stats">
                          <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <th width="20%">
                                        ...
                                    </th>
                                    <th *ngFor="let rank of scale;" width="10%">
                                        <small>{{rank.code}}</small>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Required</th>
                                        <td *ngFor="let rank of scale;" width="10%">
                                            {{stats.required[rank.id]}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Roll Recieved</th>
                                        <td *ngFor="let rank of scale;" width="10%">
                                            {{stats.received[rank.id]}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Excess/Shortage</th>
                                        <td *ngFor="let rank of scale;" width="10%">
                                            {{stats.received[rank.id] - stats.required[rank.id] != 0 ? stats.received[rank.id] - stats.required[rank.id] : '-'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <div class="card card-chart">
                          <div class="card-header card-header-success">
                              Personnel
                          </div>
                          <div class="card-body">
                              <div class="card-title">
                                <form>
                                <div class="row">
                                    <div class="col-md-3">
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Rank" type="text">
                                      </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Unit" type="text">
                                      </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Number" type="text">
                                      </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Name" type="text">
                                        </mat-form-field>
                                    </div>  
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button mat-raised-button type="button" class="btn btn-primary pull-left" (click)="addNew()">Add</button>
                                        <button mat-raised-button type="submit" class="btn btn-primary pull-right">Search</button>
                                        <button mat-raised-button type="reset" class="btn btn-danger pull-right">Reset</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                            <div class="card-category">
                                <div class="table-responsive">
                                    <table class="table table-hover" >
                                        <thead>
                                            <th>Sl.</th>
                                            <th>Name</th>
                                            <th>Rank</th>
                                            <th>Number</th>
                                            <th>Phone</th>
                                            <th>Unit</th>
                                            <th>Station</th>
                                            <th>Zone</th>
                                            <th>Sector</th>
                                            <th>...</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let person of persons; let i = index">
                                                <td>{{i+1}}</td>
                                                <td>{{person.fn}} {{person.ln}}</td>
                                                <td>{{person.rname}}</td>
                                                <td>{{person.gnum}}</td>
                                                <td>{{person.phone}}</td>
                                                <td>{{person.uname}}</td>
                                                <td>{{person.uname}}</td>
                                                <td>{{person.rname}}</td>
                                                <td>{{person.rname}}</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="col-lg-12 col-md-12">
                  <div class="card">
                      <div class="card-header card-header-tabs card-header-primary">
                          <div class="nav-tabs-navigation">
                              <div class="nav-tabs-wrapper">
                                  <ul class="nav nav-tabs" data-tabs="tabs">
                                      <li class="nav-item">
                                          <a mat-button class="nav-link active" href="#units" data-toggle="tab">
                                              <i class="material-icons">account_balance</i> Units
                                              <div class="ripple-container"></div>
                                          </a>
                                      </li>
                                      <li class="nav-item">
                                          <a mat-button class="nav-link" href="#import" data-toggle="tab" id="ancImport">
                                              <i class="material-icons">get_app</i> Import
                                              <div class="ripple-container"></div>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="tab-content">
                              <div class="tab-pane active" id="units">
                                <app-units-summary (importClicked)="handleImport($event)"></app-units-summary>
                              </div>
                              <div class="tab-pane" id="import">
                                <app-importpers [unit]="import_unit"></app-importpers>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>        
    </div>
  </div>
  