<form>
    <div class="row"> 
        <div class="col-md-11">
<!--            <mat-form-field>
                <mat-label>Zone</mat-label> -->
                <select class="form-control" [(ngModel)]="zdata.zone" name="zone">
                    <option value="0"> -- Select Zone -- </option>
                    <option *ngFor="let zone of scheme?.zones" [value]="zone.zid">{{zone.zname}}</option> 
                </select>
<!--            </mat-form-field> -->
        </div>
        <div class="col-md-1">
            <button matButton type="button" class="btn-info">+</button>
        </div>                             
    </div>
    Drag Drop on Map to Add Sector

    <div class="row" style="margin-top: 20px;" *ngIf="zdata.zone > 0">
        <div class="col-md-4" style="height: 70px; border: 1px; text-align: center;" *ngFor="let comp of components">
            <i class="material-icons icon-display" [matTooltip]="comp.name" draggable="true" (dragstart)="AddIconStart($event)" id="{{comp.id}}">{{comp.icon}}</i><br/>
            {{comp.name}}
        </div>
    </div>
</form>