<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <button type="button" class="btn-danger"><i class="material-icons">group_remove</i></button>
            <button type="button" class="btn-default"><i class="material-icons">manage_accounts</i></button>
            <button type="button" class="btn-default pull-right"><i class="material-icons">print</i></button>
            <button type="button" class="btn-default pull-right"><i class="material-icons">sms</i></button>
        </div>
        <div class="row">
            <h5>Incharge: <button type="button" class="btn-xs pull-right" (click)="remIncharge()"><i class="material-icons">close</i></button><br/> 
            {{incharge().name}} ({{incharge().rank}}) {{incharge().unit}} - {{incharge().phone}}&nbsp;                    
            </h5>
        </div>
    </div>
    <div class="col-sm-5">
        <table>
            <tr><th>Rank</th><th>Reqd</th><th>Alloc.</th><th>Short</th></tr>
            <tr *ngFor="let si of sector.ranks; let i = index">
                <td>{{getRankName(si.r)}}</td>
                <td>{{zeroAsSpace(si.c)}}</td>
                <td>{{zeroAsSpace(si.a)}}</td>
                <td [ngClass]="si.c != si.a ? 'bg-warning' : 'bg-default'">{{zeroAsSpace(si.c - si.a)}}</td>
                <td>
                    <button [ngClass]="si.r == selectedRank ? 'btn-xs btn-primary' : 'btn-xs btn-default'" type="button" (click)="onRankSelect(si)" *ngIf="si.c > 0">
                        <i class="material-icons">arrow_forward</i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<hr/>
<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <th width="5%">
                Sl.
            </th>
            <th width="25%">
                Name (Num)
            </th>
            <th width="5%">
                Rank
            </th>
            <th width="5%">
                Unit
            </th>
            <th width="15%">
                Phone
            </th>
            <th width="5%">
                Shift
            </th>
            <th width="10%">
                ...
            </th>
        </thead>
        <tbody *ngFor="let pers of deploy.allocated; let i = index">
            <tr>
                <td>
                    {{i + 1}}
                </td>
                <th>
                    {{pers.name}}({{pers.gnum}})
                </th>
                <td>
                    {{pers.rank}}                                      
                </td>
                <td>
                    {{pers.unit}}                                  
                </td>
                <td>
                    {{pers.phone}}
                </td>
                <td>
                    {{pers.shift}}
                </td>
                <td>
                    <i class="material-icons" (click)="makeIncharge(pers)">how_to_reg</i>&nbsp;
                    <i class="material-icons" (click)="unalloc(i)">close</i>&nbsp;
<!--                
                    |&nbsp;    <i class="material-icons">chat</i>&nbsp;
                    <i class="material-icons">print</i>&nbsp;|&nbsp;
                    <i class="material-icons">construction</i>
-->
                </td>
            </tr>            
        </tbody>
    </table>
</div>