<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title ">
                            Units
                            <button type="button" class="btn btn-warning pull-right" (click)="addRow()">Add Unit</button>
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Sl.
                                    </th>
                                    <th>
                                        .
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th *ngFor="let rank of scale;">
                                        {{rank.code}}
                                    </th>
                                    <th>
                                        Percent
                                    </th>
                                    <th>...</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let unit of units; let i = index">
                                        <td>
                                            {{i + 1}}
                                        </td>
                                        <td>
                                            <i *ngIf="unit.ishome" class="material-icons">home</i>&nbsp;
                                        </td>
                                        <td>
                                            {{unit.name}}                                        
                                        </td>
                                        <td *ngFor="let rank of scale;">
                                            <input type="text" class="form-control" [(ngModel)]="rank.id"/>                                        
                                        </td>
                                        <td>
                                            {{unit.percent}}%                                      
                                        </td>
                                        <td>
                                            <button (click)="deleteRow(i)">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer card-footer-danger">
                        &nbsp;
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  