.parent-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px; 
}
  
app-search-list {
  flex-grow: 1;
  display: block;
}
  
.safe-map {
    height: 100%;
    display: flex;
}