<form>
<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <th width="15%">
                Sl.
            </th>
            <th width="10%">
                Code
            </th>
            <th width="40%">
                Name
            </th>
        </thead>
        <tbody *ngFor="let zone of scheme?.zones; let i = index">
            <tr>
                <td>
                    <img src="../../../../assets/img/Z.png" width="15px" alt="Z"/>
                    {{i + 1}}
                        <i class="material-icons" *ngIf="!zone.show" (click)="toggle(zone, $event)">add_box</i>
                        <i class="material-icons" *ngIf="zone.show" (click)="toggle(zone, $event)">indeterminate_check_box</i>
                </td>
                <th>
                    {{zone.zcode}}                                        
                </th>
                <th>
                    {{zone.zname}}                 
                </th>
            </tr>          
            <ng-container *ngFor="let sector of zone.sectors; let j = index">
            <tr *ngIf="zone.show">
                <td class="pull-right">
                    <img src="../../../../assets/img/s.png" width="15px" alt="S"/>
                    {{j+1}}
                </td>
                <td>
                    {{sector.code}}                                      
                </td>
                <td>
                    <!--({{getSectorTypeDesc(sector)}})--> {{sector.name}} <br/>
                </td>
            </tr>
            <tr *ngIf="zone.show">
                <td>&nbsp;</td>                
                <td colspan="2">
                    <button type="button" class="btn-xs" draggable="true" (dragstart)="AddIconStart($event)" id="{{sector.id}}" *ngIf="!sector.onmap.points || sector.onmap.points?.length === 0"><i class="material-icons">drag_indicator</i></button> 
                    <button type="button" class="btn-xs" *ngIf="sector.onmap.points && sector.onmap.points?.length > 0"><i class="material-icons ">keyboard_arrow_left</i></button> <!---->
                    <button type="button" class="btn-xs pull-right" ><i class="material-icons">edit</i></button>&nbsp;
                </td>
            </tr>
            </ng-container>
        </tbody>
    </table>
</div>
</form>
