<h4>{{sector.name}}</h4>
<table style="width: 500px"><tr>
    <td width="50%">
        <table width="100%" class="table">
            <tr> <th>Zone</th> <td>{{sector.id}}</td> </tr>
            <tr> <th>Type</th> <td>{{sector.type}}</td> </tr>
            <tr> <th>Code</th> <td>{{sector.code}}</td> </tr>
            <tr> <th>Name</th> <td>{{sector.name}}</td> </tr>
        </table>
    </td>
    <td width="50%">
        <table width="100%" class="table">
            <tr *ngFor="let rank of findNonZero(sector.ranks)"> <th>{{findRank(rank.r).code}}</th> <td>{{rank.c}}</td> </tr>
        </table>
    </td>
</tr></table>
<p> <button type="button" (click)="Action('remove')" title="Remove Location"><i
            class="material-icons">wrong_location</i></button>
    <button type="button" (click)="Action('delete')" title="Delete Sector"><i class="material-icons">delete</i></button>
    <button type="button" (click)="Action('edit')" class="pull-right" title="Edit Sector">
        <i class="material-icons">edit</i></button>
</p>