<div class="main-content" style="height: 100vh; background-image: url('./assets/img/back.png')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-2">
                <div class="card" style="margin-top: 150px;">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Fire Monitoring</h4>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card" style="margin-top: 150px;">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Fire Response</h4>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card" style="margin-top: 150px;">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">NOC Workbench</h4>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card" style="margin-top: 150px;">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Administration</h4>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
    </div>
  </div>
  