.half-width {
    width: 50%;
    /*margin-bottom: 16px;*/
  }
  
  mat-card {
    max-width: 600px;
    margin: 20px auto;
    padding: 16px;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }