<mat-card>
    <mat-card-title>Search Personnel</mat-card-title>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Rank" type="text">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Unit" type="text">
                </mat-form-field>
              </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Number" type="text">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" type="text">
                  </mat-form-field>
              </div>  
        </div>
        <button mat-raised-button color="primary" type="submit">Search</button>
        <button mat-raised-button color="warning" type="reset">Reset</button>
    </form>
</mat-card>
<hr/>
<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <th width="5%">
                ...
            </th>
            <th width="5%">Sl.</th>
            <th width="25%">Name (Num)</th>
            <th width="5%">Rank</th>
            <th width="5%">Unit</th>
            <th width="15%">Phone</th>
        </thead>
        <tbody>
            <td colspan="3">
                <input type="text"/>
                <button type="button">Select</button>
            </td>
            <td colspan="3">
                <button type="button" class="pull-right">Allocate</button>
            </td>
        </tbody>
        <tbody *ngFor="let pers of searchResult; let i = index">
            <tr>
                <td>
                    <input class="checkbox"/>
                </td>
                <td>
                    {{i + 1}}
                </td>
                <th>
                    {{pers.name}}({{pers.gnum}})
                </th>
                <td>
                    {{pers.rank}}                                      
                </td>
                <td>
                    {{pers.unit}}                                  
                </td>
                <td>
                    {{pers.phone}}
                </td>
            </tr>            
        </tbody>
    </table>
</div>