<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title ">
                            Allocation
                        </h3>
                </div>
                    <div class="card-body">
                        <div class="badge badge-primary">R</div> - Required, <div class="badge badge-success">A</div> - Allocated, <div class="badge badge-danger">S</div> - Shortage/Excess
                        <button type="button" class="pull-right btn-primary" >Auto Allocate</button> 
                        <button type="button" class="pull-right  btn-primary" routerLinkActive="active" [routerLink]="picknchoosel">Pick & Choose</button> 
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ...
                                    </th>
                                    <th>
                                        Sl.
                                    </th>
                                    <th>
                                        Code
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th *ngFor="let rank of scale;">
                                        {{rank.code}} <br/>
                                        <div class="badge badge-primary">R</div>&nbsp;
                                        <div class="badge badge-success">A</div>&nbsp;
                                        <div class="badge badge-danger">S</div>
                                    </th>
                                    <th width="10%">
                                        ...
                                    </th>
                                </thead>
                                <tbody *ngFor="let zone of scheme.zones; let i = index">
                                    <tr>
                                        <td>
                                            <img src="../../../../assets/img/Z.png" width="30px" alt="Z"/>
                                        </td>
                                        <td>
                                            {{i + 1}}
                                            <i class="material-icons pull-right" *ngIf="!zone.show" (click)="toggle(zone)">add_box</i>
                                            <i class="material-icons pull-right" *ngIf="zone.show" (click)="toggle(zone)">indeterminate_check_box</i>
                                        </td>
                                        <th>
                                            {{zone.zcode}}                                        
                                        </th>
                                        <th>
                                            {{zone.zname}}                                        
                                        </th>
                                        <td>
                                            &nbsp;                                       
                                        </td>
                                        <th *ngFor="let rank of scale;" [ngClass]="sumRank(zone, rank, 'a') < sumRank(zone, rank, 'c') ? 'bg-warning' : ''">
                                            <span *ngIf="sumRank(zone, rank, 'c') == 0">-</span>
                                            <span *ngIf="sumRank(zone, rank, 'c') > 0">
                                                <div class="badge badge-primary" style="font-size: 0.95rem;">{{zeroAsSpace(sumRank(zone, rank, 'c'))}}</div>
                                                <div class="badge badge-success" style="font-size: 0.95rem; margin-left: 1px;">{{zeroAsSpace(sumRank(zone, rank, 'a'))}}</div>
                                                <div class="badge badge-danger" style="font-size: 0.95rem; margin-left: 1px;">{{zeroAsSpace(sumRank(zone, rank, 'c') - sumRank(zone, rank, 'a'))}}</div>
                                            </span>
                                        </th>

                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    
                                    <ng-container *ngFor="let sector of zone.sectors; let j = index">
                                    <tr *ngIf="zone.show">
                                        <td>                                            
                                            <img src="../../../../assets/img/s.png" width="30px" alt="S"/>
                                        </td>
                                        <td class="pull-right">{{j+1}}</td>
                                        <td>
                                            {{sector.code}}                                        
                                        </td>
                                        <td>
                                            {{sector.name}}
                                        </td>
                                        <td>
                                            {{sector.type}}
                                        </td>
                                        <th *ngFor="let rank of sector.ranks;" [ngClass]="rank.a < rank.c ? 'bg-warning' : ''">
                                            <span *ngIf="rank.c > 0">
                                                    <div class="badge badge-primary" style="font-size: 0.95rem;">{{zeroAsSpace(rank.c)}}</div>
                                                    <div class="badge badge-success" style="font-size: 0.95rem; margin-left: 1px;">{{zeroAsSpace(rank.a)}}</div>
                                                    <div class="badge badge-danger" style="font-size: 0.95rem; margin-left: 1px;">{{zeroAsSpace(rank.c - rank.a)}}</div>
                                            </span>
                                            <span *ngIf="rank.c == 0">-</span>
                                        </th>

                                        <td>
                                            <i class="material-icons pull-right" *ngIf="!sector.show" (click)="toggleMen(sector)">add_box</i>
                                            <i class="material-icons pull-right" *ngIf="sector.show" (click)="toggleMen(sector)">indeterminate_check_box</i>
                                        </td>
                                    </tr>
                                    <tr *ngIf="zone.show && sector.show">
                                        <td colspan="2">&nbsp;</td>
                                        <td colspan="12">
                                            <app-sector-alloc></app-sector-alloc>
                                        </td>
                                    </tr>
                                    </ng-container>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                        <td>
                                            &nbsp;
                                        </td>
                                        <td>
                                            &nbsp;                                        
                                        </td>
                                        <th>
                                            Scheme Total
                                        </th>
                                        <td>
                                            &nbsp;                                       
                                        </td>                             
                                        <th *ngFor="let rank of scale;" [ngClass]="totalRank(rank, 'a') < totalRank(rank, 'c') ? 'bg-warning' : ''">
                                            <span *ngIf="totalRank(rank, 'c') > 0">
                                                    <div class="badge badge-primary" style="font-size: 0.95rem;">{{zeroAsSpace(totalRank(rank, 'c'))}}</div>
                                                    <div class="badge badge-success" style="font-size: 0.95rem; margin-left: 1px;">{{zeroAsSpace(totalRank(rank, 'a'))}}</div>
                                                    <div class="badge badge-danger" style="font-size: 0.95rem; margin-left: 1px;">{{zeroAsSpace(totalRank(rank, 'c') - totalRank(rank, 'a'))}}</div>
                                            </span>
                                            <span *ngIf="totalRank(rank, 'c') == 0">-</span>
                                        </th>

                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer card-footer-danger">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  