<div class="main-content" style="height: 100vh; background-image: url('./assets/img/back.png')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                &nbsp;
            </div>
            <div class="col-md-4">
                <div class="card card-profile" style="margin-top: 250px;">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/safe.png" />
                        </a>
                    </div>
                    <div class="card-body">
                        <form>
                            <h4 class="card-title">Safe 24x7 Emergency Monitoring System</h4>
                            <div class="row" style="text-align: center;">
                                <mat-form-field class="col-md-12">
                                    <input matInput placeholder="Login" name="login">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-md-12">
                                    <input matInput placeholder="Password" type="password" name="password">
                                </mat-form-field>
                            </div>
                            <button type="button" (click)="LoginUser()" class="btn btn-danger btn-round">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  